doctype html
html
	head
		title File downloads

		include includes/head.pug
	body
		.container-xl
			include includes/header.pug

			div(style="clear:both")
				// Populate later with download links to different challenges
				ul
