doctype html
html
	head
		title MD-089 CTF

		include includes/head.pug
	body
		.container-xl
			include includes/header.pug

			if flagChecked
				if foundNewFlag
					.alert.alert-success
						| You found a flag!
				else
					.alert.alert-danger
						| That flag doesn't work! Try again

			.row(style="clear:both")
				.col
					.bordered
						h3 Challenges

						p Challenges are located below

						h4 Crypto challenges
							ul

						h4 Local file challenges
							ul

				.col
					.bordered
						h3 Your flags

						if flags.length > 0
							- var totalPoints = 0

							ul
								each flag in flags
									li
										div
											| Points: #{(totalPoints += flag.points) - totalPoints}
											br
											| #{flag.text}

							p You have #{totalPoints} points
						else
							p You have not found any flags yet!
