h1(style="float:left")
	a(href="/") Flag input

form(style="float:right" action="/addflag" method="POST")
	input(type="text" name="flag" placeholder="Add a flag")

	input(type="submit" name="submit")
