doctype html
html
	head
		include prelude/challenge-head.pug
	body
		.container-xl
			include prelude/challenge-body.pug

			.row(style="clear:both")
				.col
					p The following email was intercepted; it contains a bunch of numbers, going from 1 to 26. What could they mean?

					ul
						li 20 8 5 
						li 6 12 1 7
						li 9 19
						li 9 14 4 5 24 9 14 7