doctype html
html
	head
		title MD-089 CTF

		include prelude/challenge-head.pug
	body
		.container-xl
			include prelude/challenge-body.pug

			.row(style="clear:both")
				.col
					p Challenge text